@charset "utf-8";
@import url('pretendard.css');
@import url('bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('jquery-ui.min.css');

:root {
    --html-base: clamp(14px, 0.15vw + 13.17px, 16px);

    /* font */
    --font-family: Pretendard, sans-serif;

    /* color */
    --blue: #0f89e7;
    --dark: #1b222d;
    --bg: #f5fbff;
    --border: #e5e5e5;
    --text: #222;
    --gray: #666;
    --gray30: #a1a1a1;
    --gray50: #ddd;
    --gray70: #eee;
    --gray80: #f8f8f8;
    --muted: #888;
    --yellow: #f1c40f;
    --red: #dc3545;
    --orange: #e67e22;
    --dark-orange: #fb7638;
    --green: #17b13b;
    --purple: #7c46b2;

    /* effect */
    --gap-xs: .25rem;
    --gap-sm: .5rem;
    --gap: 1rem;
    --gap-lg: 1.5rem;
    --gap-xlg: 2.5rem;
    --radius-xs: .25rem;
    --radius-sm: .5rem;
    --radius: 1rem;
    --radius-lg: 1.5rem;
    --radius-xlg: 2rem;
    --shadow-sm: 0 .062rem .125rem rgba(0, 0, 0, 0.05);
    --shadow: 2px 2px 5px rgba(0, 0, 0, 0.06);
    --shadow-lg: 4px 4px 10px rgba(0, 0, 0, 0.1);

    /* speed */
    --transition-fast: 0.2s ease;
    --transition-base: 0.3s ease;
    --transition-slow: 0.5s ease;

    /* responsive */
    --vw: 1vw;
    --vh: 1vh;
    --full-height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 565px) {
    :root {
        --gap:  .75rem;
        --gap-lg: 1rem;
        --gap-xlg: 1rem;
        --radius-lg: 1rem;
        --radius-xlg: 1rem;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html {
    font-size: var(--html-base);
}
body {
    letter-spacing: -0.025em;
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--text);
    word-break: keep-all;
    font-weight: 300;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul {
    list-style: none; padding: 0; margin: 0;
}
a, a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
    outline: 0;
}
p {margin: 0;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {margin: 0; font-weight: bold;}
img {
    max-width: 100%;
    height: auto
}
img[src$=".svg"] {
    /* 선과 윤곽선을 더 정밀하게 계산 */
    shape-rendering: geometricPrecision;
    /* 텍스트나 가느다란 선의 선명도 향상 */
    text-rendering: optimizeLegibility;
    /* 브라우저가 선명도를 우선시하도록 설정 */
    image-rendering: -webkit-optimize-contrast;
    /* 미세한 소수점 렌더링 오차를 줄여줌 */
    transform: translateZ(0);
}

b, strong {font-weight: 600;}

hr {margin-top: 1.5rem; margin-bottom: 1.5rem; position: relative; border-color: var(--border);}
hr.height {margin-top: 1.5rem;margin-bottom: 1.5rem;border-color: var(--border);border-width: .35rem;}
hr.black {margin-top: 1.5rem;margin-bottom: 1.5rem; margin-left: 0;margin-right: 0;border-color: #000;border-width: 2px;}
hr.dash {border-style: dashed;}

::-webkit-scrollbar {width: .25rem;height: .25rem}
::-webkit-scrollbar-button {height: 0; width: 0}
::-webkit-scrollbar-thumb {border-radius: .5rem;background-color: #d5d5d5}
::-webkit-scrollbar-track {background-color: transparent}

/*다크모드*/
@media (prefers-color-scheme: dark) {
    :root {
        /*
        --bg: #111;
        --text: #eee;
        */
    }
}

.container {max-width: 100%; padding: 0 var(--gap-lg);}

.swiper-button-prev, .swiper-button-next {width: 2rem;height: 2rem;}
.swiper-pagination {left: 0;right: 0; text-align: center; bottom: 0;}
.swiper-pagination-bullet {margin: 0 .75rem; background: var(--gray); width: .6rem; height: .6rem;}
.swiper-pagination-bullet-active {background: var(--main);}
.scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/********
 * FORM *
 ********/
.radio, .checkbox {
    display: inline-flex;
    align-items: center; gap: var(--gap-xs);
    cursor: pointer;
}
.radio label, .checkbox label {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-sm); cursor: pointer; margin: 0;
}
.radio input, .checkbox input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}
/* 체크박스 */
.checkbox label:before {
    content: "\F582";
    font-family: bootstrap-icons;
    color: var(--border);
    transition: color .2s ease-in-out; font-size: 1.25rem; line-height: 1;
}
.checkbox:has(:checked) label:before {
    content: "\F26D";
    color: var(--red);
}
.radio label:before {
    content: "\F26B";
    font-family: bootstrap-icons;
    color: var(--border);
    transition: color .2s ease-in-out; font-size: 1.25rem; line-height: 1
}
.radio:has(:checked) label:before {
    color: var(--red);
}
.form-control {border-radius: var(--radius-sm); border-color: var(--gray50); height: calc(1.5rem + 1.5rem + 2px); padding: .75rem;}
.form-control:disabled, .form-control[readonly] {background-color: var(--gray80);}
.form-control::placeholder {color: #a8a8a8;}
.form-control:focus {box-shadow: none;}
select.form-control {appearance: none;padding-right: 2.5rem; background: #fff url(../img/chevron-down.png) no-repeat calc(100% - 1rem) 50% / 1.3rem}
.form-control.cal {background: #f9fafb url(../images/ic_cal.png) no-repeat calc(100% - 1rem) 50% / 1.3rem; text-align: left}
textarea {resize: none;}
.form-row .btn {min-width: 8rem;}
.form-row+.form-row {margin-top: 1rem;}
.form-row .col-form-label, .form label {margin: 0; padding-top: .75rem; padding-bottom: .75rem;;}
.form-row input, .form-row select {width: 100%;}
.input-group-box, .result-box  {border: 1px solid var(--border); border-radius: var(--radius-xs); padding:2rem; box-shadow: var(--shadow); margin-bottom: 1rem;}
.flex-radios {display: flex; gap: var(--gap);}
.flex-radios .radio label {width: auto;}
.result-box {border-color: var(--green);border-width: 2px; border-radius: var(--radius-sm);font-size: 1.125rem;}
.item-box+.item-box {margin-top: .5rem;}
.input-item label {}
.result-box .btn {min-width: 8rem;}

@media (max-width: 1024px) {
    .input-group-box, .result-box {padding: 1.25rem;}
}

/* 버튼 */
.btn {border-radius: var(--radius-sm); box-shadow: none; padding: .75rem 1rem}
.btn:hover {box-shadow: var(--shadow-lg)}
.btn:has(img) {display: flex; align-items: center; justify-content: center;}
.btn:is(.disabled, [disabled]) {background-color: #F1F1F5 !important; color: #999 !important; opacity: 1;cursor: not-allowed}
.btn:focus {outline: none;box-shadow: none}
.btn-box {display: flex;;margin: 2.5rem auto;gap: .5rem; flex-wrap: wrap; justify-content: center;}
.btn-box .btn {flex-basis: 0; font-size: 1.25rem; padding: 1.25rem; min-width: 20%; border-radius: 1.125rem; font-weight: bold;}
.btn-box .btn:not(.btn-block) {flex-grow: 1; max-width: 300px;}
.btn-box .btn-block {flex-basis: 100%;width: 100%;}
.btn-box:last-child {margin-bottom: 0;}
.btn-box.bottom {background: #fff;background: linear-gradient(0deg,rgb(255, 255, 255) 0%, rgba(255, 255, 255, 1) 50%);position: fixed;left: 0;right: 0; bottom: 0;  margin: 0 auto; padding: 1rem;background-color: #fff; z-index: 10;border-left: 1px solid var(--border);border-right: 1px solid var(--border)}
.btn.icon {padding: 0;}
.btn.link:is(.disabled, [disabled]) {color:#d1d1d1}
.btn.line {background-color: #fff; border: 1px solid transparent}
.btn.white:not(.line) {background-color: #fff;}
.btn.black:not(.line) {background-color: #000; color: #fff;}
.btn.dark:not(.line) {background-color: var(--dark); color: #fff;}
.btn.dark:not(.line):hover {background-color: #000}
.btn.primary:not(.line) {background-color: var(--main); color: #fff;}
.btn.primary:not(.line):hover {background: var(--blue)}
.btn.line.orange {border: 1px solid #ff7142; color: #ff7142}
.btn.line.primary {border: 1px solid var(--main); color: var(--main)}
.btn.lightgray:not(.line) {background-color: var(--gray50);}
.btn.gray:not(.line) {background-color: var(--gray30); color: #fff;}
.btn.orange:not(.line) {background-color: var(--orange); color: #fff;}
.btn.dark-orange:not(.line) {background-color: var(--dark-orange); color: #fff;}
.btn.yellow:not(.line) {background-color: #eda200; color: #fff !important;}
.btn.purple:not(.line) {background-color: var(--purple); color: #fff !important;}
.btn.red:not(.line) {background-color: var(--red); color: #fff !important;}
.btn.blue:not(.line) {background-color: var(--blue); color: #fff !important;}
.btn.green:not(.line) {background-color: var(--green); color: #fff !important;}
.btn.line.gray {border-color: var(--gray50)}
.btn.line.white {border-color: #fff; color: #fff;}
.btn.link {padding: 0;}
.close {opacity: .7;}
@media (max-width: 575px) {
    .btn-box .btn {flex-grow: 1;}
}

/* tab */
.nav-tabs {border-bottom: 0;}
.nav-tabs .nav-link {padding: .75rem 1.5rem; min-width: 10rem; text-align: center}
.nav-tabs .nav-link:not(.active) {background:#f8f8f8;border-bottom:1px solid #ddd;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{font-weight: bold; color: #111}

/* table */
.table td, .table th {vertical-align: middle;}
.table.center th, .table.center td {text-align: center;}

/* bullet */
ul.bullet li {padding-left: .75rem;position: relative;}
ul.bullet li:before {content: ""; width: .2rem; height: .2rem; display: inline-block;; border-radius: 50%; background-color: var(--gray50); position: absolute; left: 0; top: .75em;transform: translate(0, -50%);}

/* modal */
.modal-content {border-radius: var(--radius);}
.modal-dialog-centered {min-height: calc(100% - 4rem);}
.modal-header {border: 0; align-items: center; padding: 1.5rem; padding-bottom: 0;}
.modal-footer {border: 0;}
.modal-title {text-align: center; flex-grow: 1; font-weight: bold;}
.modal-header .close {position: absolute;right: 1rem; top: 1rem;}
.modal-backdrop.show {opacity: .7;}
@media (max-width: 575px) {
    .modal-dialog {
        margin: 1.5rem; max-width: inherit !important;
    }
}

/* PAGINATION */
.pagination {text-align: center; justify-content: center;;margin: 3rem auto 0; gap: var(--gap-sm); display: flex; align-items: center;overflow: hidden;font-size: 0;}
.pagination a {display: inline-flex; align-items: center; justify-content: center; width: clamp(20px, 1.48vw + 11.66px, 40px); background: #fff; border-radius: 50%; color: #666;font-size: 1rem;  border: 1px solid var(--border); aspect-ratio: 1/1;}
.pagination .active {background: #000; color: #fff; border-color: #000; position: relative;z-index: 1;}
.pagination i {color: #999; font-weight: bold;}

/* etc */
.no-list {padding: 1rem 0; color: var(--gray); text-align: center; display: flex; align-items: center; justify-content: center;}
.g-box {background-color: var(--gray80); border-radius: var(--radius); padding: 1.5rem; overflow: hidden}
.w-box {background-color: #fff; border-radius: var(--radius); padding: 1.5rem}
.b-box {border: 1px solid #e5e5e5; border-radius: var(--radius); padding: 1.5rem}
.line-box {border: 1px solid var(--main); border-radius:  var(--radius); padding: 1.5rem;}
.bg-box {background: var(--bg); padding: 1.5rem; border-radius:  var(--radius);}
.overlay {position: fixed;left: 0;width: 100%;height: 100%; top: 0; background: rgba(0, 0, 0, 0.6);z-index: 100}
.scrollable {overflow: hidden;overflow-y: auto;height: 100%;position: relative;white-space: pre-line;}
.fw-300 {font-weight: 300 !important}
.fw-400 {font-weight: 400 !important}
.fw-500 {font-weight: 500 !important}
.fw-600 {font-weight: 600 !important}
.fw-700 {font-weight: 700 !important}
.gap-2 {gap: var(--gap-xs);}
.bold {font-weight: 600}
.bolder {font-weight: 700}
.spot {color: var(--main) !important}
.red {color: var(--red) !important}
.blue {color: var(--main) !important}
.pink {color: var(--pink) !important}
.purple {color: #6352e2 !important}
.yellow {color: var(--yellow) !important}
.green {color: var(--green) !important}
.text-gray {color: var(--gray) !important}
.text-xxlg {font-size: 1.714rem !important; line-height: 1.5;}
.text-xlg {font-size: 1.285rem !important; line-height: 1.5;}
.text-lg {font-size: 1.142rem !important; line-height: 1.5;}
.text-sm {font-size: .857rem !important; line-height: 1.5;}
.text-xs {font-size: .714rem !important; line-height: 1.2;}
.badge {font-size: .75rem;min-width: 1.25rem;height: 1.25rem; display: inline-flex;justify-content: center;align-items: center;border-radius: 1rem;background-color: var(--red); color: #fff; font-weight: normal; font-style: normal;}
.highlight {display: inline;box-shadow: inset 0 -10px 0 var(--main50); }

